
<div class="container-fluid padding">
    <div class="row text-center mx-auto padding justify-content-center">
        <!--two column section-->
        <div class=" col-lg-6">
            <h3>Encadrement  Conseil  Installation</h3>
                <p class="lead text-justify ">
                    BAXTER vous propose toute une gamme de services d'encadrement, de montages, et de travail du bois sur mesure. Nous utilisons des matériaux et des méthodes de conservation traditionnelles, tout en utilisant des vitrages de protection contre les UV. Nous travaillons avec nos clients sur une grande variété de types de projets. Que ce soit des photographies, des travaux sur papier ou des peintures, nous pouvons vous aider à concevoir la solution d'encadrement la plus appropriée pour tous ces supports. 
                </p>
                <p>
                    Chez BAXTER, nous croyons qu'il est important de laisser parler l'art en premier. Nous adoptons une approche minimale de la conception du cadre, en nous concentrant sur la pièce et sur la manière de la compléter. Notre objectif est de fournir un encadrement de qualité musée, tout en présentant l'art de manière sensible, intègre et fonctionnelle.
                </p>
        </div>
        <div class="col-lg-5 cadre">
            <img src="<?= $wwwUrl ?>/assets/IMG/encadrement/socle.jpg" alt="Socle" style="width: 250px;">
            <figcaption>Présentation sur Socle</figcaption>
        </div>
    </div>
</div>
<br>

<div>
    <hr class="mx-4">
</div>

<div class="encadrement">
    <h3>Encadrements</h3>

    <!--affiche les images de Encadrements-->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <?php foreach($encadrements as $key => $encadrement): ?>

            <div class="text-center carousel-item <?= $key == 0 ? 'active' : '' ?>">

                <img src="<?= $wwwUrl.'/assets/IMG/encadrement/'.$encadrement['Photo']; ?>" alt="...">
                <div class="carousel-caption">
                    <p>
                        <?= $encadrement['Description'] ?>
                    </p>
                </div>

            </div>
            <?php endforeach; ?>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <i class="fas fa-long-arrow-alt-left"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <i class="fas fa-long-arrow-alt-right"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
