body {
	background-color: #f0f4f4;
	font-family: 'Source Sans Pro';
    color: #50575b;
}
main {
	padding-top: 200px;
}
a:link, a:visited, a:active {
    color: #50575b !important;
}
:focus {
	outline: 0;
}

.navbar-brand h1 {
    font-size: 2.7rem;
    text-shadow: 1px 1px #a9b4bb;
    margin-left: 10px;
    font-weight: 400;
    display: inline-block;
}
h3 {
	font-family: 'Eczar';
	font-style: italic;
	letter-spacing: 1px;
	padding: 5px;
	word-spacing: 10px;
}
.header {
	position: fixed;
    width: 100%;
    background-color: #f0f4f4;
    z-index: 10;
}
.header .logo-caption {
	font-family: 'Eczar';
	font-style: italic;
	letter-spacing: 1px;
}
.nav-link.active {
	font-weight: 900;
	border-bottom: solid 2px #999;
	padding-bottom: 1px;
}

.galerie {
	margin-top: -50px;
}
.list_oeuvres {
	max-width: 400px;
	max-height: 510px;
}

.img-wrapper img {
	width: 98%;
}
.cadre {
	padding-left: 30px;
}

.carousel-item img {
	max-height: 450px;
}
.carousel-caption {
	bottom:-95px;
	color: #50575b;
	font-family: 'Eczar';
	font-style: italic;
	letter-spacing: 1px;
}
.carousel-inner { padding-bottom:95px; }
/* ????*/
/*.carousel-control-prev-icon {
	color: #645759;*/
}
figcaption {
	font-family: 'Eczar';
	font-style: italic;
	letter-spacing: 1px;
	margin-top: 12px;
}


form {
	padding-top: 30px;
	padding-bottom: 40px;
}
.form-control {
	background-color: #f0f4f4;
	box-shadow: 1px 1px #999;
}

#mapid {
	height: 450px;
	margin-top: 60px;
	width: 80%;
	margin: 0 auto;
	z-index: 0;
}


