<!-- affiche les images de la galerie seletcionnée dansl'url-->
<div class="galerie">
    <h3><?= $galerie['Name']; ?></h3>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <?php foreach($oeuvres as $key => $oeuvre): ?>

            <div class="text-center carousel-item <?= $key == 0 ? 'active' : '' ?>">

                <img src="<?= $wwwUrl.'/assets/IMG/galerie/'.$oeuvre['galerie_id'].'/'.$oeuvre['lien_img']; ?>" alt="...">
                <div class="carousel-caption">
                    <p>
                        <?= $oeuvre['artiste'] ?> (<?= $oeuvre['annee'] ?>) - <?= $oeuvre['titre'] ?>
                    </p>
                </div>
            </div>
            <?php endforeach; ?>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <i class="fas fa-long-arrow-alt-left"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <i class="fas fa-long-arrow-alt-right"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

