
<div class="col-12">
    <div class="row">
        <?php foreach($galeries as $galerie): ?>
            <div class="col-12 col-md-3 text-center">
                <a href="<?= $requestUrl ?>/galerie/?id=<?= $galerie['id']; ?>">
                    <figure class="img-wrapper">
                        <img src="<?= $wwwUrl ?>/assets/IMG/galerie/<?= $galerie['id']; ?>/<?= $galerie['Photo']; ?>" alt="<?= $galerie['Name']; ?>">
                        <figcaption>
                            <strong><?= $galerie['Name']; ?></strong>
                        </figcaption>
                    </figure>
                </a>
            </div>
        <?php endforeach; ?>
    </div>
</div>
