<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="<?= $wwwUrl ?>/assets/IMG/admin/grey.jpg">

    <link href="https://fonts.googleapis.com/css?family=Eczar" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"/>

    <link rel="stylesheet" href="<?= $wwwUrl ?>/assets/css/style.css"/>

    <title>Baxter Galerie  Encadrements Paris</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
    <header class="header">

        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <div class="d-flex flex-column mb-2">
                    <div>
                        <a class="navbar-brand" href="#">
                            <img src="<?= $wwwUrl ?>/assets/IMG/admin/grey.jpg" style="height: 70px;" class="d-inline-block align-top" alt="">
                            <h1>BAXTER</h1>
                        </a>
                    </div>
                    <div class="logo-caption">
                        Gravures Anciennes - Photographies<br>
                        Dessins &amp; Encadrements
                    </div>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link <?= $active == 'galerie' ? 'active' : '' ?>" href="<?= $requestUrl ?>/">Galerie</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <?= $active == 'encadrement' ? 'active' : '' ?>" href="<?= $requestUrl ?>/encadrement">Encadrements</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link <?= $active == 'contact' ? 'active' : '' ?>" href="<?= $requestUrl ?>/contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <hr class="mb-0">
    </header>

    <div class="page-divider top-divider"></div>

    <br>

    <main>
        <div class="container">
            <!-- Affichage du template lié à la vue -->
            <?php include $this->viewData['template']; ?>
        </div>
    </main>

    <!-- footer -->
    <hr class="my-4">

    <div class="info-footer-wrapper clear">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-8">
                    15, rue du Dragon - 75006 Paris - France<br><a href="mailto:baxterprints@hotmail.com">baxterprints@hotmail.com</a>
                </div>
                <div class="col-2  text-end">
                    <a href="https://www.facebook.com/baxter.galerie" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="http://instagram.com/galeriebaxter" target="_blank"><i class="fab fa-instagram ml-2"></i></a>
                </div>
            </div>
        </div>
    </div>

    <hr class="my-4">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
