
<!--two column section-->

<div class="container-fluid padding">
    <div class="row text-center mx-auto padding justify-content-center">
        <div class=" col-lg-6">
            <p class="lead text-justify">
                BAXTER est une société de services artistiques d'encadrement, d’installation et de conception pour collectionneurs, galeries et architectes d'intérieur. Nous croyons en la présentation de l'art,  avec clarté et intention, avec à la base le soin et la préservation,
                <br>
                Depuis ses débuts en 1980, BAXTER a servi la communauté artistique de Paris en apportant des solutions d’affichage d’art innovantes et une expertise dans l’installation des œuvres d’art.
            </p>
        </div>
        <div class="  ml-3 owner">
            <img src="<?= $wwwUrl ?>/assets/IMG/admin/facade-nuit.jpg" alt="Facade" style="width: 250px;">
            <figcaption>Baxter Paris</figcaption>
        </div>
    </div>
</div>
<br>

<div>
    <hr class="mx-4">
</div>

<!--form +map Two Column section-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <?php if (isset($status) && $status) { ?>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <?= $status ?>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <?php } ?>
            <?php if (isset($ok) && $ok == false) { ?>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Le formulaire n'a pas été rempli correctement !
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <?php } ?>
            <form id="form" method="POST">
                <div>
                    <div class="form-group">
                        <label for="inputSubject">Subject*</label>
                        <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <label for="Message">Message*</label>
                        <textarea class="form-control" id="message" name="message" rows="5"></textarea>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputFirstName">First Name*</label>
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputLastName">Last Name*</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Email Address*</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email Address">
                    </div>
                    <div>
                        <button type="submit" name="submit" class="btn btn-outline-secondary">
                            Submit
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class=" col-md-6">
            <br><br>
            <div id="mapid"></div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"></script>
<script type="text/javascript" src="<?= $wwwUrl ?>/assets/js/map.js"></script>

<script type="text/javascript" src="<?= $wwwUrl ?>/assets/js/form.js"></script>
